/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  padding: 0;
  background-color: #F5F5F5;
  /*background-image: url("https://img.freepik.com/premium-vector/abstract-circle-pattern-minimal-decoration-background_121035-79.jpg?w=2000");*/
  /*background-attachment: fixed;*/
  /*background-size: 300px;*/
  /*background-repeat: repeat;*/
}

.login__submit {
  background: #4C489D;
  font-size: 14px;
  margin-top: 35px;
  padding: 16px 20px;
  border-radius: 26px;
  border: 1px solid #D4D3E8;
  text-transform: uppercase;
  font-weight: 700;
  display: flex;
  align-items: center;
  width: 100%;
  color: #ffffff;
  box-shadow: 0px 2px 2px #5C5696;
  cursor: none;
  transition: .2s;
  width: 155px;
  text-align: center;
}
