<div class="body-class">
  <h4 class="list-ground-title">DANH SÁCH NHÂN VIÊN</h4>
  <div class="list-input-search">
    <input type="text" placeholder="Tên nhân viên cần tìm" #name id="nameSearch"
           (change)="name_search = name.value.trim()">
    <input type="text" placeholder="Chứng minh nhân dân cần tìm" #cmnd id="cmndSearch" maxlength="12"
           (change)="cmnd_search=cmnd.value.trim()">
    <input type="text" placeholder="Địa chỉ tìm" #address id="addressSearch"
           (change)="address_search = address.value.trim()">
    <select #department id="departmentSearch" class="select-option-department"
            (change)="department_search = department.value">
      <option value="">- Chọn tên mặt bằng -</option>
      <option *ngFor="let item of departments" value="{{item.name}}">{{item.name}}</option>
    </select>
    <div class="list-input-search-icon">
      <i class="fa fa-search list-input-search-icon-search" aria-hidden="true" style=" background-color: #0a82ed;"
         (click)="searchWithCondition()"></i>
      <i class="fa fa-undo list-input-search-icon-undo" aria-hidden="true" style=" background-color: rgb(192 192 192);"
         (click)="refreshPage()">
      </i>
      <i class="icon-add-new fa-solid fa-plus" data-bs-toggle="modal" data-bs-target="#addNewContract"
         (click)="resetModal()"></i>
      <button hidden data-bs-toggle="modal" data-bs-target="#listEmpty" id="hidden-button"></button>

    </div>
  </div>

  <div>
    <table class="table tab" style="font-size: 12px" bgcolor="white" width="100%">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Hình</th>
        <th scope="col">Họ tên</th>
        <th scope="col">CMND</th>
        <th scope="col">Email</th>
        <th scope="col">Điện Thoại</th>
        <th scope="col">Ngày Sinh</th>
        <th scope="col">Giới Tính</th>
        <th scope="col">Lương</th>
        <th scope="col">Cấp Lương</th>
        <th scope="col">Bộ Phận</th>
        <th scope="col">Tài khoản</th>
        <th scope="col">
          Thao tác
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of employees">
        <td><img [src]="item.avatar"></td>
        <td scope="row">{{item.name}}</td>
        <td scope="row">{{item.id_card}}</td>
        <td scope="row">{{item.email.length < 10 ? item.email : (item.email | slice : 0 : 10) + " ..."}} </td>
        <td scope="row">{{item.phone}}</td>
        <td scope="row">{{item.birthday | date:'dd/MM/yyyy'}}</td>
        <td scope="row">{{item.gender}}</td>
        <td scope="row">{{item.salary | pipeCurrencyCustom}}</td>
        <td scope="row">{{item.salaryScale}}</td>
        <td scope="row">{{item.department}}</td>
        <td scope="row">{{item.account}}</td>
        <td scope="row">
          <i data-bs-toggle="modal" data-bs-target="#detailsModal" (click)="findById(item.id)"
             class="action-icon action-icon-info  fa-solid fa-circle-info"></i>
          <i class="action-icon action-icon-edit fa-solid fa-pen-to-square" data-bs-toggle="modal"
             data-bs-target="#editModal"></i>
          <i data-bs-toggle="modal" data-bs-target="#deleteModal" (click)="findById(item.id)"
             class="action-icon action-icon-delete fa-solid fa-trash"></i>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<!--page-->
<div>
  <ul class="pagination justify-content-center">
    <li class="page-item">
      <a class="page-link" *ngIf="pageNumber != 0 ? 'disable': ''">
        <i class="fa-solid fa-backward-fast"
           (click)="findAllWithCondition(name_search,cmnd_search,address_search,department_search,0)"></i>
      </a>
    </li>
    <li>
      <a class="page-link" *ngIf="pageNumber != 0 ? 'disable': ''">
        <i class="fa-solid fa-backward"
           (click)="findAllWithCondition(name_search,cmnd_search,address_search,department_search,pageNumber - 1)"></i>
      </a>
    </li>
    <li class="page-item" *ngFor="let item of [].constructor(totalPages); let i = index">
      <ng-container *ngIf="i < 3 || i >= totalPages - 3">
        <a class="page-link" [ngClass]="pageNumber == i ?  'current': ''"
           (click)="findAllWithCondition(name_search,cmnd_search,address_search,department_search,i)">
          {{i + 1}}
        </a>
      </ng-container>
      <ng-container *ngIf="3 <= i && i < totalPages - 3 && (i == pageNumber + 1 || i== pageNumber-1 || i ==pageNumber)">
        <a class="page-link" [ngClass]="pageNumber == i ? 'current': ''"
           (click)="findAllWithCondition(name_search,cmnd_search,address_search,department_search,i)">
          {{i + 1}}
        </a>
      </ng-container>
      <ng-container *ngIf="(3 <= i && i < totalPages - 3 && i != pageNumber && i != pageNumber + 1 && i!=pageNumber-1)">
        <a class="page-link">
          ...
        </a>
      </ng-container>
    </li>
    <li>
      <a class="page-link" *ngIf="pageNumber < totalPages - 1 ? 'disable': ''">
        <i class="fa-solid fa-forward"
           (click)="findAllWithCondition(name_search,cmnd_search,address_search,department_search,pageNumber + 1)"></i>
      </a>
    </li>
    <li class="page-item">
      <a class="page-link" *ngIf="pageNumber < totalPages - 1 ? 'disable': ''"
         (click)="findAllWithCondition(name_search,cmnd_search,address_search,department_search,totalPages - 1)">
        <i class="fa-solid fa-forward-fast"></i> </a>
    </li>
    <li class="page-item">
      <span class="page-link">{{pageNumber + 1}} / {{totalPages}}</span>
    </li>
    <li class="page-item">
      <div class="input-group rounded">
        <input type="search" class="form-control rounded" placeholder="chọn trong {{totalPages}} trang" #element
               id="pageChoice"
               aria-label="Search" aria-describedby="search-addon"/>
        <span class="input-group-text border-0" id="search-addon">
           <i class="fas fa-search"
              (click)="getPageInChoice(+element.value - 1)"></i>
        </span>
      </div>
    </li>
  </ul>
</div>
<!-- Delete modal-->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="title">Xóa Nhân Viên</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #deleteClose></button>
      </div>
      <div class="modal-body">
        Xóa đi nhân viên <span id="name_delete"></span> này?
        <p style="color: red"><i class="fa-solid fa-circle-exclamation"></i>đây là hành động không thể hoàn tác!!!</p>
        <input hidden id="id_delete" #id_delete>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
        <button type="button" class="btn btn-danger" (click)="deleteById(id_delete.value)">Xóa</button>
      </div>
    </div>
  </div>
</div>

<!--status list-->
<div class="modal fade" id="listEmpty" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Thông báo</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                (click)="refreshPage()"></button>
      </div>
      <div class="modal-body">
        <p style="color: red"><i class="fa-solid fa-circle-exclamation"></i> {{message}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="refreshPage()">Hủy</button>
      </div>
    </div>
  </div>
</div>

<!--details-->
<div class="modal fade" id="detailsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Thông tin chi tiết của nhân viên</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                (click)="refreshPage()"></button>
      </div>
      <div class="modal-body" style="height: 620px">
        <div class="projcard projcard-blue">
          <div class="projcard-innerbox">
            <img class="projcard-img" [src]="employeeView.avatar"/>
            <div class="projcard-textbox">
              <div class="projcard-title">Họ tên : {{employeeView.name}}</div>
              <div class="projcard-subtitle">Mã số nhân viên: {{employeeView.id}}</div>
              <div class="projcard-subtitle">Số điện thoại: {{employeeView.phone}}</div>
              <div class="projcard-bar"></div>
              <div class="projcard-description">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Email : {{employeeView.email}}</li>
                  <li class="list-group-item">Chứng minh nhân dân : {{employeeView.id_card}}</li>
                  <li class="list-group-item">Ngày tháng năm sinh: {{employeeView.birthday| date :"dd/MM/yyyy"}}</li>
                  <li class="list-group-item">Địa chỉ: {{employeeView.address}}</li>
                  <li class="list-group-item">Giới tính: {{employeeView.gender}}</li>
                  <li class="list-group-item">Lương: {{employeeView.salary | pipeCurrencyCustom}}</li>
                  <li class="list-group-item">Bậc lương: {{employeeView.salaryScale}}</li>
                  <li class="list-group-item">Bộ phận công tác: {{employeeView.department}}</li>
                  <li class="list-group-item">Tài khoản cá nhân: {{employeeView.account}}</li>
                  <li class="list-group-item">Ngày vào làm: {{employeeView.dateBegin}}</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="refreshPage()">Hủy</button>
      </div>
    </div>
  </div>
</div>

<!--cap nhat sau -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="cap_nhat">Đang được cập nhật chức năng</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Chức năng đang được cập nhật. Xin quay lại sau!!!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- add new modal-->
<div class="modal fade" id="addNewContract">
  <div class="modal-dialog modal-xl">
    <div class="modal-content" style="height: 800px">
      <div class="modal-header">
        <h5 class="modal-title">Thêm mới chi tiết nhân viên</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                #closeAddExpenseModal></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formGroup" (ngSubmit)="saveAllForm()">
          <h5>Thông tin nhân viên</h5>
          <div class="row">
            <div class="col-4">
              <!--              Họ tên-->
              <label>Họ tên</label>
              <input type="text" class="form-control" formControlName="name" required>
              <span style="color: red" *ngIf="formGroup.controls.name.untouched && formGroup.controls.name.invalid">&nbsp; </span>
              <span style="color: red"
                    *ngIf="((formGroup.controls.name.hasError('required')|| formGroup.controls.name.hasError('trim'))) &&  formGroup.controls.name.touched">Tên không nên để trống</span>
              <span style="color: green" *ngIf="formGroup.controls.name.valid">Có thể sử dụng tên này.</span>
              <span style="color: red"
                    *ngIf="formGroup.controls.name.hasError('minlength') &&  formGroup.controls.name.touched">Tên nên dài hơn 8 kí tự.</span>
              <span style="color: red"
                    *ngIf="formGroup.controls.name.hasError('maxlength') &&  formGroup.controls.name.touched">Tên nên ít hơn 200 kí tự.</span>
              <span style="color: red"
                    *ngIf="(formGroup.controls.name.hasError('pattern') &&  formGroup.controls.name.touched)">Tên không được có số.</span>
            </div>
<!--            Chứng minh nhân dân-->
            <div class="col-4">
              <label>Chứng minh nhân dân</label>
              <input type="text" class="form-control" formControlName="id_card" required>
              <span style="color: red"
                    *ngIf="formGroup.controls.id_card.untouched && formGroup.controls.id_card.invalid">&nbsp; </span>
              <span style="color: green" *ngIf="formGroup.controls.id_card.valid" id="successCMND">Đã nhập chứng minh nhân dân thành công.</span>
              <span style="color: red"
                    *ngIf="formGroup.controls.id_card.touched && formGroup.controls.id_card.hasError('required')">Nhập chứng minh nhân dân không nên để trống.</span>
              <span style="color: red"
                    *ngIf="(formGroup.controls.id_card.hasError('pattern'))  && formGroup.controls.id_card.touched">Số chứng minh nhân dân nên có 12 chữ số.</span>
              <span style="color: red"
                    *ngIf="formGroup.controls.id_card.hasError('idcardexists') ">Số chứng minh nhân dân đã tồn tại. Xin nhập lại.</span>
            </div>
<!--            Địa chỉ-->
            <div class="col-4">
              <label>Địa chỉ</label>
              <input type="text" class="form-control" formControlName="address" required>
              <span style="color: red"
                    *ngIf="formGroup.controls.address.untouched && formGroup.controls.address.invalid ">&nbsp; </span>
              <span style="color: green" *ngIf="formGroup.controls.address.valid">Đã nhập địa chỉ thành công.</span>
              <span style="color: red"
                    *ngIf="formGroup.controls.address.touched && formGroup.controls.address.hasError('required')">Địa chỉ không nên để trống.</span>
              <span style="color: red"
                    *ngIf="formGroup.controls.address.touched && formGroup.controls.address.hasError('maxlength')">Địa chỉ không được nhập quá 200 kí tự.</span>
            </div>
          </div>
          <div class="row">
            <div class="col-4">
              <label>Ngày tháng năm sinh</label>
              <input type="date" class="form-control" formControlName="birthday" placeholder="dd-mm-yyyy" value="" required>
              <span style="color: red"
                    *ngIf="formGroup.controls.birthday.untouched && formGroup.controls.birthday.invalid">&nbsp; </span>
              <span style="color: green" *ngIf="formGroup.controls.birthday.valid">Có thể sử dụng ngày sinh này.</span>
              <span style="color: red"
                    *ngIf="formGroup.controls.birthday.touched && formGroup.controls.birthday.hasError('required')">Mời nhập ngày sinh vào.</span>
              <span style="color: red"
                    *ngIf="(formGroup.controls.birthday.hasError('birthdaypast')) && formGroup.controls.birthday.touched">Người đăng kí nên trên 18 tuổi.</span>
          <span style="color: red"
                    *ngIf="(formGroup.controls.birthday.hasError('ageover')) && formGroup.controls.birthday.touched">Người đăng kí nên dưới 120 tuổi.</span>
            </div>
            <div class="col-4">
              <label>Email</label>
              <input type="text" class="form-control" formControlName="email" required>
              <span style="color: red" *ngIf="formGroup.controls.email.untouched && formGroup.controls.email.invalid">&nbsp; </span>
              <span style="color: green" *ngIf="formGroup.controls.email.valid"
                    id="successEmail">Đã nhập xong email.</span>
              <span style="color: red"
                    *ngIf="formGroup.controls.email.hasError('required') && formGroup.controls.email.touched">Mời nhập email vào.</span>
              <span style="color: red" *ngIf="(formGroup.controls.email.hasError('pattern'))
                                     &&formGroup.controls.email.touched">Email bạn nhập sai định dạng.</span>
              <span style="color: red"
                    *ngIf="(formGroup.controls.email.hasError('emailexists'))">Email đã tồn tại.</span>
            </div>
            <div class="col-4">
              <label>Số điện thoại</label>
              <input type="text" class="form-control" formControlName="phone" required>
              <span style="color: red" *ngIf="formGroup.controls.phone.untouched && formGroup.controls.phone.invalid">&nbsp; </span>
              <span style="color: green" *ngIf="formGroup.controls.phone.valid" id="successPhone">Đã nhập xong số điện thoại.</span>
              <span style="color: red"
                    *ngIf="formGroup.controls.phone.hasError('required') && formGroup.controls.phone.touched">Mời nhập số điện thoại vào.</span>
              <span style="color: red" *ngIf="(formGroup.controls.phone.hasError('pattern'))
                                     &&formGroup.controls.phone.touched">Số điện thoại chưa đúng định dạng: 0912345678.</span>
              <span style="color: red" *ngIf="(formGroup.controls.phone.hasError('phoneexists'))">Số điện thoại này đã được sử dụng.</span>

            </div>
          </div>
          <div class="row">
            <div class="col-4">
              <ul style=" list-style: none">
                <li style="margin-right: 5px">Giới tính:</li>
                <li *ngFor="let item of genders" style="margin-right: 10px; display: inline; list-style: none">
                  <input type="radio" name="gender" formControlName="gender" class="form-check-input"
                         value="{{item.id}}"/> {{item.name}}
                </li>
              </ul>
              <span style="color: red" *ngIf="formGroup.controls.gender.untouched && formGroup.controls.gender.invalid">&nbsp; </span>
              <span style="color: green" *ngIf="formGroup.controls.gender.valid">Đã chọn xong giới tính.</span>
              <span style="color: red"
                    *ngIf="formGroup.controls.gender.hasError('required') && formGroup.controls.gender.touched">Mời chọn giới tính.</span>
            </div>


            <div class="col-4">
              <label for="avatar">Hình ảnh đại diện</label>
              <input type="file" class="form-control hidden"
                     id="avatar"
                     name="avatar"
                     (change)="changeFile($event)"
                     placeholder="Mời chọn hình ảnh đại diện"
                     formControlName="avatar"
                     accept="image/png, image/jpeg"
                     required>
              <span style="color: red" *ngIf="formGroup.controls.avatar.untouched && formGroup.controls.avatar.invalid">&nbsp; </span>
              <span style="color: green" *ngIf="formGroup.controls.avatar.valid && formGroup.controls.avatar.touched">Có thể sử dụng hình ảnh này.</span>
              <span style="color: red"
                    *ngIf="formGroup.controls.avatar.hasError('required') && formGroup.controls.avatar.touched">Chọn hình ảnh đại diện.</span>
              <span style="color: red"
                    *ngIf="formGroup.controls.avatar.hasError('filewrong')&& !formGroup.controls.avatar.hasError('required') && formGroup.controls.avatar.touched">Hình ảnh phải là img hay jpg hay hình ảnh tương ứng.</span>
              <span style="color: red"
                    *ngIf="formGroup.controls.avatar.hasError('filesize')&& formGroup.controls.avatar.touched">Hình ảnh không được quá 5MB.</span>
            </div>
            <div class="col-4" *ngIf="fileChose">
              <img alt="Loading" id="reviewImgChoice" [src]="imageSrc" width="60px">
            </div>
          </div>
          <hr style="margin-top: 10px">
          <h5>Chi tiết về công việc</h5>
          <div class="row">
            <div class="col-4">
              <label>Lương</label>
              <input type="number" class="form-control" formControlName="salary" required>
              <span style="color: red" *ngIf="formGroup.controls.salary.untouched && formGroup.controls.salary.invalid">&nbsp; </span>
              <span style="color: green" *ngIf="formGroup.controls.salary.valid">Đã nhập lương thành công.</span>
              <span style="color: red"
                    *ngIf="formGroup.controls.salary.hasError('min')&&formGroup.controls.salary.touched">Mời nhập lương lớn hơn 1 triệu.</span>
              <span style="color: red"
                    *ngIf="formGroup.controls.salary.hasError('required')&&formGroup.controls.salary.touched">Lương không nên để trống.</span>
              <!--              <span style="color: red"  *ngIf="formGroup.controls.salary.hasError('pattern')&&formGroup.controls.salary.touched">lương không nên để trống</span>-->
            </div>

            <div class="col-4">
              <label>Đơn vị công tác</label>
              <select formControlName="department" class="form-select"
                      aria-label="Default select example">
                <option value="">Chọn Đơn Vị</option>
                <option *ngFor="let item of departments" value="{{item.id}}">{{item.name}}</option>
              </select>
              <span style="color: red"
                    *ngIf="formGroup.controls.department.untouched && formGroup.controls.department.invalid">&nbsp; </span>
              <span style="color: green"
                    *ngIf="formGroup.controls.department.valid">Đã chọn xong đơn vị công tác.</span>
              <span style="color: red"
                    *ngIf="formGroup.controls.department.hasError('required') && formGroup.controls.department.touched">Mời chọn đơn vị công tác.</span>
            </div>

            <div class="col-4">
              <label>Bậc lương</label>
              <select formControlName="salaryScale" class="form-select"
                      aria-label="Default select example">
                <option value="">Chọn bậc lương</option>
                <option *ngFor="let item of salaries" value="{{item.id}}">{{item.name}}</option>
              </select>
              <span style="color: red"
                    *ngIf="formGroup.controls.salaryScale.untouched && formGroup.controls.salaryScale.invalid ">&nbsp; </span>
              <span style="color: green" *ngIf="formGroup.controls.salaryScale.valid">Đã chọn xong bậc lương.</span>
              <span style="color: red"
                    *ngIf="formGroup.controls.salaryScale.hasError('required') && formGroup.controls.salaryScale.touched">Mời chọn bậc lương.</span>
            </div>
          </div>

          <hr style="margin-top: 10px">

          <h5>Thông tin tài khoản</h5>
          <div class="row">

            <div class="col-4">
              <label>Tài khoản muốn đăng kí</label>
              <input type="text" class="form-control" formControlName="account" required>
              <span style="color: red"
                    *ngIf="formGroup.controls.account.untouched && formGroup.controls.account.invalid">&nbsp; </span>
              <span style="color: green" *ngIf="formGroup.controls.account.valid" id="successAccount">Đã nhập xong tên tài khoản.</span>
              <span style="color: red"
                    *ngIf="formGroup.controls.account.hasError('required') && formGroup.controls.account.touched">Mời nhập tên tài khoản.</span>
              <span style="color: red"
                    *ngIf="formGroup.controls.account.hasError('minlength') && formGroup.controls.account.touched">Tên tài khoản nên lớn hơn 8 kí tự.</span>
              <span style="color: red"
                    *ngIf="formGroup.controls.account.hasError('maxlength') && formGroup.controls.account.touched">Tên tài khoản nên ít hơn 15 kí tự.</span>
              <span style="color: red"
                    *ngIf="formGroup.controls.account.hasError('pattern') && formGroup.controls.account.touched">Tên tài khoản không được có dấu hay khoảng trắng.</span>
              <span style="color: red"
                    *ngIf="formGroup.controls.account.hasError('accountexists')">Tên tài khoản đã được đăng kí!.</span>
            </div>

            <div class="col-4">
              <label>Mật khẩu</label>
              <input type="password" class="form-control" formControlName="password" required>
              <span style="color: red"
                    *ngIf="formGroup.controls.password.untouched && formGroup.controls.password.invalid">&nbsp; </span>
              <span style="color: green" *ngIf="formGroup.controls.password.valid">Đã nhập xong mật khẩu.</span>
              <span style="color: red"
                    *ngIf="(formGroup.controls.password.hasError('required')|| formGroup.controls.password.hasError('trim')) && formGroup.controls.password.touched">Mời nhập mật khẩu.</span>
              <span style="color: red"
                    *ngIf="formGroup.controls.password.hasError('minlength') && formGroup.controls.password.touched">Mật khẩu nên lớn hơn 8 kí tự.</span>
              <span style="color: red"
                    *ngIf="formGroup.controls.password.hasError('maxlength') && formGroup.controls.password.touched">Mật khẩu nên ít hơn 15 kí tự.</span>
              <span style="color: red"
                    *ngIf="formGroup.controls.password.hasError('pattern')
                    && !formGroup.controls.password.hasError('minlength')
                    && !formGroup.controls.password.hasError('maxlength')
                    && formGroup.controls.password.touched">Mật khẩu phải có ít nhất 1 chữ hoa, chữ thường, chữ số, và kí tự @ hay #.</span>
            </div>

            <div class="col-4">
              <label>Mật khẩu xác nhận</label>
              <input type="password" class="form-control" formControlName="passwordConfirm" required>
              <span style="color: red"
                    *ngIf="formGroup.controls.passwordConfirm.untouched && formGroup.controls.passwordConfirm.invalid">&nbsp; </span>
              <span style="color: green"
                    *ngIf="!formGroup.hasError('passworderror') && formGroup.controls.passwordConfirm.touched && !formGroup.controls.password.hasError('required') && !formGroup.controls.password.hasError('pattern')">Mật khẩu trùng khớp.</span>
              <span style="color: red"
                    *ngIf="formGroup.controls.passwordConfirm.hasError('required') && formGroup.controls.passwordConfirm.touched">Xin nhập và xác nhận lại mật khẩu.</span>
              <span style="color: red" *ngIf="formGroup.controls.passwordConfirm.touched &&
                                      !formGroup.controls.passwordConfirm.hasError('required') &&
                                     (formGroup.hasError('passworderror'))">Xin xác nhận lại mật khẩu.</span>
            </div>
          </div>

          <hr style="margin-top: 10px">
          <div class="row">
            <div class="col-12" style="text-align: right">
              <button type="submit" class="btn btn-success" style="margin-right: 10px" [disabled]="formGroup.invalid ">
                Lưu lại
              </button>
              <!--              <button (click)="resetForm()" class="btn btn-warning" style="margin-right: 10px">Làm mới</button>-->
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!--loading page-->
<div class="pop-up-container" style="display: none" id="pop-up-container">
  <div id="pop-up">
    <img src="../../../assets/home-img/loading.gif" height="198" width="198"/>
  </div>
</div>
