.tab span {
  color: red;
}

table{
  width: 90%;
  margin: 20px auto;
  background-color: white;
  box-shadow:1px 1px 4px 1px grey;
  position: static;
}

.page-link:hover{
  cursor: pointer;
  opacity: 0.9;
}

.current {
  background-color: green;
  color: white;
}

table > tbody >tr>td{
  vertical-align: middle !important;
}

table > tbody >tr>td p{
  margin: 0;
}

table > tbody > tr> td button {
  width: 40px;
  height: 40px;
}



.ground-button-chose button{
  margin: 10px 8px;
}

.select-ground{
  background-color: black;
}

.list-ground-title{
  text-align: center;
  margin: 10px 0;
}

.list-input-search{
  display: flex;
  padding: 0 20px;
  align-items: center;
  justify-content: space-around;
  margin: 0 0 20px 10px;
}

.list-input-search input{
  outline: none;
  border-radius: 5px;
  border: none;
  box-shadow:1px 1px 4px 1px grey;
  padding: 5px 20px 5px 10px;
  font-size: 14px;
}

.list-input-search input::placeholder{
  font-size: 14px;
}

.list-input-search-icon{
  display: flex;
}

.list-input-search-icon i{
  margin: 0 10px;
  padding: 12px;
  border-radius: 50%;
}

.list-input-search-icon i:hover{
  cursor: pointer;
  opacity: 0.8;
}

.list-input-search-icon-search{
  color: white;
}

.list-input-search-icon-undo{
  color: white;
}

.select-choose-floor{
  color: white;
  background-color: #424141;
  border-radius: 4px;
  cursor: pointer;
}

.select-choose-floor option{
  background-color: white;
  color: black;
}

.pagination1 {
  display: inline-block;
  text-align: center;
}

.pagination1 a {
  text-align: center;
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  border: 1px solid #ddd;
}

.pagination1 a.active {
  background-color: #4CAF50;
  color: white;
  border: 1px solid #4CAF50;
}

.action-icon:hover{
  cursor: pointer;
  opacity: 0.8;
}

.action-icon{
  padding: 12px;
  font-size: 20px;
  margin: 0 8px;
  border-radius: 30%;
  color: white;
}

.action-icon-delete{
  background-color: red;
}

.action-icon-info{
  background-color: #40c057;
}

.action-icon-edit{
  background-color: #ffd43b;
}

.list-input-search-icon .icon-addnew{
  background-color: #40c057;
  border-radius: 50%;
  color: white;
  padding: 12px 13px;
  margin: 0 10px;
}

th{
  font-size: 13px;
}

.special{
  color: red;
}
@media
only screen and (max-width: 1092px),
(min-device-width: 911px) and (max-device-width: 1024px)  {

  input{
    display: none;
  }
  .list-input-search-icon i{
    display: none;
  }

  /* Force table to not be like tables anymore */
  table, thead, tbody, th, td, tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */

  th{
    display: none;
  }
  tr { border: 1px solid #ccc; }

  td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }

  td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }

  /*
  Label the data
  */
  td:nth-of-type(1):before { content: "Hình ảnh"; }
  td:nth-of-type(2):before { content: "Họ và tên"; }
  td:nth-of-type(3):before { content: "Căn cước công dân"; }
  td:nth-of-type(4):before { content: "Email"; }
  td:nth-of-type(5):before { content: "Điện thoại"; }
  td:nth-of-type(6):before { content: "Ngày sinh"; }
  td:nth-of-type(7):before { content: "Giới tính"; }
  td:nth-of-type(8):before { content: "Địa chỉ"; }
  td:nth-of-type(9):before { content: "Lương"; }
  td:nth-of-type(10):before { content: "Cấp lương"; }
  td:nth-of-type(11):before { content: "Bộ phận"; }
  td:nth-of-type(12):before { content: "Ngày vào"; }
  td:nth-of-type(13):before { content: "Tài khoản"; }
  td:nth-of-type(14):before { content: "Thao tác"; }
}



