<div class="wrap">
  <!--    <div class="container">-->
  <div class="row justify-content-between">
    <div class=" col d-flex align-items-center">
      <p class="mb-0 ms-2 phone"><span class="mailus">Số điện thoại:</span> <a href="#">+00 1234 567</a> hoặc
        <span
          class="mailus">email chúng tôi:</span> <a href="#">A0222I1@gmail.com</a></p>
    </div>
    <div class="col d-flex justify-content-end">
      <div class="social-media">
        <p class="mb-0 me-2 d-flex">
          <a href="#" class="d-flex"><span
            class="fa fa-facebook"><i class="sr-only">Facebook</i></span></a>
          <a href="#" class="d-flex "><span
            class="fa fa-twitter"><i class="sr-only">Twitter</i></span></a>
          <a href="#" class="d-flex "><span
            class="fa fa-instagram"><i class="sr-only">Instagram</i></span></a>
          <a href="#" class="d-flex"><span
            class="fa fa-dribbble"><i class="sr-only">Dribbble</i></span></a>
        </p>
      </div>
    </div>
  </div>
  <!--    </div>-->
</div>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-color">
  <!-- Navbar brand -->
  <a class="navbar-brand" href="https://mdbgo.com/">
    <img
      src="https://mdbcdn.b-cdn.net/img/logo/mdb-transaprent-noshadows.webp"
      height="16"
      alt="MDB Logo"
      loading="lazy"
      style="margin-top: -1px;"
    />
  </a>

  <!-- Toggle button -->
  <button
    class="navbar-toggler"
    type="button"
    data-mdb-toggle="collapse"
    data-mdb-target="#navbarButtonsExample"
    aria-controls="navbarButtonsExample"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <i class="fas fa-bars"></i>
  </button>

  <!-- Collapsible wrapper -->
  <div class="collapse navbar-collapse" id="navbarButtonsExample">
    <!-- Left links -->
    <ul class="navbar-nav ms-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Trang chủ</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Giới thiệu</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
           aria-expanded="false">
          Khai thác và vận hành
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Lotus Office</a></li>
          <li><a class="dropdown-item" href="#">Tiktak Co-Working Space</a></li>
          <li><a class="dropdown-item" href="#">Căn hộ dịch vụ cao cấp</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" href="#">Trung tâm thương mại</a></li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Tin tức</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Liên hệ</a>
      </li>
    </ul>
    <!-- Left links -->
    <div class="d-flex align-items-center">
      <button type="button" class="btn btn-outline-violet px-3 me-2">
        Đăng nhập
      </button>
      <button type="button" class="btn btn-outline-violet me-3">
        Đăng ký
      </button>

    </div>
  </div>
  <!-- Collapsible wrapper -->

</nav>

<!-- Navbar -->
<!-- END nav -->
