<div class="wrap">
  <div class="rowTop justify-content-between">
    <div class=" col d-flex align-items-center">
      <p class="mb-0 ms-2 phone"><span class="mailus">Số điện thoại:</span> <a href="#">+00 1234 567</a> hoặc
        <span
          class="mailus">email chúng tôi:</span> <a href="#">A0222I1@gmail.com</a></p>
    </div>
    <div class="col d-flex justify-content-end">
      <div class="social-media">
        <p class="mb-0 me-2 d-flex">
          <a href="#" class="d-flex"><i class="fa-brands fa-facebook-f"></i></a>
          <a href="#" class="d-flex "><i class="fa-brands fa-twitter"></i></a>
          <a href="#" class="d-flex "><i class="fa-brands fa-instagram"></i></a>
        </p>
      </div>
    </div>
  </div>
  <!--    </div>-->
</div>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-color">
  <!-- Navbar brand -->
  <a class="navbar-brand" routerLink="home">
    <img
      src="../../../assets/home-img/home.png"
      height="50"
      alt="A0222I1 Logo"
      loading="lazy"
      style="margin-top: -1px;"
    />
  </a>

  <!-- Toggle button -->
  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarButtonsExample"
    aria-controls="navbarButtonsExample"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <i class="fas fa-bars"></i>
  </button>

  <!-- Collapsible wrapper -->
  <div class="collapse navbar-collapse" id="navbarButtonsExample">
    <!-- Left links -->
    <ul class="navbar-nav ms-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="home">Trang chủ</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
           aria-expanded="true">
          Toà nhà
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" routerLink="plane">Mặt bằng</a></li>
          <li><a class="dropdown-item" routerLink="employee">Nhân viên</a></li>
          <li><a class="dropdown-item" routerLink="customer">Khách hàng</a></li>
          <li><a class="dropdown-item" routerLink="contract">Hợp đồng</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
           aria-expanded="true">
          Báo cáo - thống kê
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" routerLink="static">Báo cáo tổng hợp</a></li>
          <li><a class="dropdown-item" routerLink="static/high">Báo cáo thu nhập cao</a></li>
          <li><a class="dropdown-item" routerLink="static/low">Báo cáo thu nhập thấp</a></li>
        </ul>
      </li>
    </ul>
    <!-- Left links -->
    <div class="d-flex align-items-center" *ngIf="!isLoggedIn">
      <button type="button" class="btn btn-outline-violet px-3 me-2" (click)="setPageTitle('Đăng nhập')"
              routerLink="/login">
        Đăng nhập
      </button>
      <button type="button" class="btn btn-outline-violet px-3 me-2"
              routerLink="/register">
        Đăng ký
      </button>
    </div>
    <div *ngIf="isLoggedIn">
      <button *ngIf="employeeName" class="btn logout">Xin chào : {{employeeName}}</button>
      <i class="fa-solid fa-right-from-bracket ms-3 me-3" (click)="onLogOut()"></i>
    </div>
  </div>
</nav>
