<div class="body-class">
  <h4 class="list-ground-title">DANH SÁCH MẶT BẰNG</h4>

  <div class="list-input-search">
    <input type="number" placeholder="Tìm kiếm theo diện tích" #area (change)="changeArea(area.value)">
    <select id="exampleFormControlSelect2" #stage (change)="stageSearch = stage.value">
      <option value="">Tên tầng</option>
      <option *ngFor="let stage of stages;let i = index" value="{{stage.id}}">Tầng {{i+1}}: {{stage.name}}</option>
    </select>
    <select id="exampleFormControlSelect3" #status (change)="statusSearch = status.value">
      <option value="">Trạng thái mặt bằng</option>
        <option *ngFor="let planeStatus of planeStatus;let i = index" value="{{planeStatus.id}}">{{planeStatus.name}}</option>
    </select>
    <select id="exampleFormControlSelect1" #type (change)="typeSearch = type.value">
      <option value="">Loại mặt bằng</option>
      <option *ngFor="let planeType of planeTypes" value="{{planeType.id}}"> {{planeType.name}}</option>
    </select>
    <div class="list-input-search-icon">
      <i class="icon-add-new fa-solid fa-plus"></i>
      <i (click)="getAll(areaSearch,stageSearch,statusSearch,typeSearch,0)" class="fa fa-search list-input-search-icon-search" aria-hidden="true" style=" background-color: #ffd43b;"></i>
      <i (click)="resetSearch()" class="fa fa-undo list-input-search-icon-undo" aria-hidden="true" style=" background-color: red;"></i>
    </div>

  </div>
  <table class="table tab">
    <thead class="thead-dark">
    <tr>
      <th scope="col">Mã mặt bằng(<span>*</span>)</th>
      <th scope="col">Loại mặt bằng(<span>*</span>)</th>
      <th scope="col">Diện tích(<span>*</span>)</th>
      <th scope="col">Trạng thái(<span>*</span>)</th>
      <th scope="col">Giá bán(<span>*</span>)</th>
      <th scope="col">Phí quản lý(<span>*</span>)</th>
      <th scope="col">Khách hàng(<span>*</span>)</th>
      <th scope="col">Tầng(<span>*</span>)</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of planes">
      <td scope="row">MB-{{item.id}}</td>
      <td scope="row">{{item.planeType.name}}</td>
      <td scope="row">{{item.area}}m<sup>2</sup></td>
      <td scope="row">{{item.planeStatus.name }}</td>
      <td scope="row">{{item.price}}</td>
      <td scope="row">{{item.management_costs}}</td>
      <td scope="row">{{getCustomerName(item.id)}}</td>
      <td scope="row">{{item.stage.name}}</td>
      <td scope="row">
        <i class="action-icon action-icon-info  fa-solid fa-circle-info"></i>
        <i class="action-icon action-icon-edit fa-solid fa-pen-to-square"></i>
        <i (click)="getInfo(item)" class="action-icon action-icon-delete fa-solid fa-trash" data-bs-toggle="modal" data-bs-target="#deleteModal"></i>
        <!--    <td scope="row"><button type="button" class="btn btn-warning">Sửa</button></td>-->
      </td>
    </tr>
    </tbody>
  </table>

  <div>
    <ul class="pagination justify-content-center">
      <li class="page-item">
        <a class="page-link">
          <i class="fa-solid fa-backward-fast"></i>
        </a>
      </li>
      <li>
        <a class="page-link" *ngIf="pageNumber != 0 ? 'disable': ''" (click)="getAll(areaSearch,stageSearch,statusSearch,typeSearch,pageNumber-1)">
          <i class="fa-solid fa-backward"></i>
        </a>
      </li>
      <li class="page-item" *ngFor="let item of [].constructor(totalPages); let i = index">
        <a class="page-link" [ngClass]="pageNumber == i ? 'current': ''" (click)="getAll(areaSearch,stageSearch,statusSearch,typeSearch,i)">
          {{i + 1}}
        </a>
      </li>
      <li>
        <a class="page-link"  *ngIf="pageNumber < totalPages - 1 ? 'disable': ''" (click)="getAll(areaSearch,stageSearch,statusSearch,typeSearch,pageNumber+1)">
          <i class="fa-solid fa-forward"></i>
        </a>
      </li>
      <li class="page-item">
        <a class="page-link">
          <i class="fa-solid fa-forward-fast"></i> </a>
      </li>
      <li class="page-item">
        <span class="page-link">{{pageNumber + 1}} / {{totalPages}}</span>
      </li>
      <li class="page-item">
        <div class="input-group rounded">
          <input type="search" class="form-control rounded" placeholder="chọn trong {{totalPages}} trang" #element
                 aria-label="Search" aria-describedby="search-addon"/>
          <span class="input-group-text border-0" id="search-addon">
           <i class="fas fa-search"></i>
        </span>
        </div>
      </li>

    </ul>
  </div>
  <!-- Delete modal-->
  <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="title">Xóa Mặt Bằng</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Bạn có muốn xóa mặt bằng <span id="name_delete">MB-{{plane?.id}}</span> ?
          <p style="color: red"><i class="fa-solid fa-circle-exclamation"></i>Đây là hành động không thể hoàn tác</p>
          <input hidden id="id_delete" #id_delete>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
          <button type="button"  class="btn btn-danger" (click)="deletePlane(plane?.id)" data-bs-dismiss="modal">Xóa</button>
        </div>
      </div>
    </div>
  </div>

</div>


