<div class="body-class">
  <h4 class="list-ground-title">DANH SÁCH KHÁCH HÀNG</h4>
  <div class="list-input-search">
    <input type="text" placeholder="tên khách hàng cần tìm" #name id="nameSearch"
           (change)="name_search = name.value.trim()">
    <input type="text" placeholder="số chứng minh nhân dân cần tìm" #cmnd id="cmndSearch"
           (change)="cmnd_search=cmnd.value.trim()">
    <input type="text" placeholder="địa chỉ cần tìm" #address id="addressSearch"
           (change)="address_search = address.value.trim()">
    <input type="text" placeholder="tên công ty cần tìm" #company id="companySearch"
           (change)="company_search = company.value.trim()">
    <div class="list-input-search-icon">
      <i class="fa fa-search list-input-search-icon-search" style=" background-color: blue" aria-hidden="true"
         (click)="findAllWithCondition(name_search,cmnd_search,address_search,company_search,0)"></i>
      <i class="fa fa-undo list-input-search-icon-undo" style=" background-color: gray;" aria-hidden="true"
         (click)="refreshPage()"></i>
      <i class="icon-addnew fa-solid fa-plus" data-bs-toggle="modal" data-bs-target="#editModal"></i>
    </div>
  </div>

  <div>
    <table class="table tab">
      <thead class="thead-dark">
      <th>Họ Tên</th>
      <th>CMND</th>
      <th>Email</th>
      <th>Số Điện Thoại</th>
      <th>Ngày Sinh</th>
      <th>Địa Chỉ</th>
      <th>Website</th>
      <th>Công Ty</th>
      <th>Mặt Bằng</th>
      <th width="11%"></th>
      </thead>
      <tbody>
      <tr *ngFor="let item of customers, let i = index">
        <td scope="row">{{item.name}}</td>
        <td scope="row">{{item.id_card}}</td>
        <td scope="row">{{item.email}}</td>
        <td scope="row">{{item.phone}}</td>
        <td scope="row">{{item.birthday | date:'dd/MM/yyyy'}}</td>
        <td scope="row">{{item.address}}</td>
        <td scope="row">{{item.website}}</td>
        <td scope="row">{{item.company}}</td>
        <td>
          <i title="Chi tiết" (click)="detail(item.id)" class="action-icon action-icon-info  fa-solid fa-circle-info"
             data-bs-toggle="modal" data-bs-target="#detailPlane"></i>
        </td>
        <td scope="row" class="responsiveItem">
          <i title="Chỉnh sửa" class="action-icon action-icon-edit fa-solid fa-pen-to-square" data-bs-toggle="modal"
             data-bs-target="#editModal"></i>
          <i title="Xóa" (click)="findById(item.id)" class="action-icon action-icon-delete fa-solid fa-trash"
             data-bs-toggle="modal" data-bs-target="#deleteModal"></i>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

</div>
<!--page-->
<div>
  <ul class="pagination justify-content-center">
    <li class="page-item">
      <a class="page-link" *ngIf="pageNumber != 0 ? 'disable': ''">
        <i class="fa-solid fa-backward-fast"
           (click)="findAllWithCondition(name_search,cmnd_search,address_search,company_search,0)"></i>
      </a>
    </li>
    <li>
      <a class="page-link" *ngIf="pageNumber != 0 ? 'disable': ''">
        <i class="fa-solid fa-backward"
           (click)="findAllWithCondition(name_search,cmnd_search,address_search,company_search,pageNumber - 1)"></i>
      </a>
    </li>
    <li class="page-item" *ngFor="let item of [].constructor(totalPages); let i = index">
      <a class="page-link" [ngClass]="pageNumber == i ? 'current': ''"
         (click)="findAllWithCondition(name_search,cmnd_search,address_search,company_search,i)">
        {{i + 1}}
      </a>
    </li>
    <li>
      <a class="page-link" *ngIf="pageNumber < totalPages - 1 ? 'disable': ''">
        <i class="fa-solid fa-forward"
           (click)="findAllWithCondition(name_search,cmnd_search,address_search,company_search,pageNumber + 1)"></i>
      </a>
    </li>
    <li class="page-item">
      <a class="page-link"
         (click)="findAllWithCondition(name_search,cmnd_search,address_search,company_search,totalPages - 1)">
        <i class="fa-solid fa-forward-fast"></i> </a>
    </li>
    <li class="page-item">
      <span class="page-link">{{pageNumber + 1}} / {{totalPages}}</span>
    </li>
    <li class="page-item">
      <div class="input-group rounded">
        <input type="search" class="form-control rounded" placeholder="chọn trong {{totalPages}} trang" #element
               aria-label="Search" aria-describedby="search-addon"/>
        <span class="input-group-text border-0" id="search-addon">
           <i class="fas fa-search"
              (click)="findAllWithCondition(name_search,cmnd_search,address_search,company_search,+element.value - 1)"></i>
        </span>
      </div>
    </li>

  </ul>
</div>

<!-- Delete modal-->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="title">Xóa Khách Hàng</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Bạn muốn xóa khách hàng có tên <b><span id="name_delete" style="color: red"></span></b> ?
        <p style="color: red"><i class="fa-solid fa-circle-exclamation"></i> Đây là hành động không thể hoàn tác</p>
        <input hidden id="id_delete" #id_delete>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" id="cancle" data-bs-dismiss="modal">Hủy</button>
        <button type="button" class="btn btn-danger" (click)="deleteById(id_delete.value)">Xóa</button>
      </div>
    </div>
  </div>
</div>

<!--modal thong bao cac chuc nang dang duoc cap nhat-->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="cap_nhat">Đang được cập nhật chức năng</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Chức năng đang được cập nhật. Xin quay lại sau!!!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!--Modal chi tiet mat bang cua khach hang dang thue-->
<div class="modal fade" id="detailPlane" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog  modal-lg">
    <div class="modal-content">
      <div class="modal-header" style="text-align: center">
        <h5 class="modal-title" id="information">Chi tiết mặt bằng của khách hàng <span id="nameCustomer"
                                                                                        style="color: red"></span></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <table class="table" class="table table-striped" bgcolor="white" width="100%">
          <thead>
          <tr>
            <th scope="col">STT</th>
            <th scope="col">ID Mặt Bằng</th>
            <th scope="col">Tên Mặt Bằng</th>
            <th scope="col">Tình Trạng</th>
            <th scope="col">Tên Nhân Viên</th>
          </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of customerList, let i = index">
              <td>{{i + 1}}</td>
              <td>{{item.id}}</td>
              <td>MB-{{item.planeId}}</td>
              <td>{{item.planeStatus}}</td>
              <td>{{item.employeeName}}</td>
            </tr>
          </tbody>
        </table>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
        </div>
      </div>
    </div>
  </div>
</div>

