<div class="body-class">
  <h4 class="list-ground-title">DANH SÁCH KHÁCH HÀNG</h4>
  <div class="list-input-search">
    <input type="text" placeholder="tên khách hàng"  #name id="nameSearch"
           (change)="name_search = name.value.trim()" >
    <input type="text" placeholder="chứng minh nhân dân" #cmnd id="cmndSearch"
           (change)="cmnd_search=cmnd.value.trim()">
<!--    <input type="text" placeholder="địa chỉ cần tìm"  #address id="addressSearch"-->
<!--           (change)="address_search = address.value.trim()">-->
<!--    <input type="text" placeholder="tên bộ phận cần tìm" #department id="departmentSearch"-->
<!--           (change)="department_search = department.value.trim()">-->
    <div class="list-input-search-icon">
      <i class="icon-add-new fa-solid fa-plus" data-bs-toggle="modal" data-bs-target="#editModal"></i>
      <i class="fa fa-search list-input-search-icon-search" aria-hidden="true" style=" background-color: #ffd43b;" (click)="findAllWithCondition(name_search,cmnd_search,address_search,department_search,0)"></i>
      <i class="fa fa-undo list-input-search-icon-undo" aria-hidden="true" style=" background-color: red;" (click)="refreshPage()">
      </i>
    </div>
  </div>

  <div >
    <table class="table table-striped" style="font-size: 15px" bgcolor="white" width="100%" >
      <thead>
      <th>STT</th>
      <th>Họ tên</th>
      <th>CMND</th>
      <th>Email</th>
      <th>Số Điện Thoại</th>
      <th>Ngày Sinh</th>
      <th>Địa Chỉ</th>
      <th>Website</th>
      <th>Công ty</th>
      <th>Mặt bằng</th>
      <th></th>
      <th>
      </th>
      </thead>
      <tbody>
      <tr *ngFor="let item of customers, let i = index" >
        <td>{{i + 1}}</td>
        <td scope="row">{{item.name}}</td>
        <td scope="row">{{item.id_card}}</td>
        <td scope="row">{{item.email | slice: 4: 10}}...</td>
        <td scope="row">{{item.phone}}</td>
        <td scope="row">{{item.birthday | date:'dd/MM/yyyy'}}</td>
        <td scope="row">{{item.address.length > 10 ? item.address.substring(0,10) + ' ...'  : item.address}}</td>
        <td scope="row">{{item.website}}</td>
        <td scope="row">{{item.company}}</td>
        <td scope="row">
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editModal">Chi tiết</button>
        </td>
        <td scope="row">
          <i class="action-icon action-icon-info  fa-solid fa-circle-info" data-bs-toggle="modal" data-bs-target="#editModal"></i>
          <i class="action-icon action-icon-edit fa-solid fa-pen-to-square" data-bs-toggle="modal" data-bs-target="#editModal"></i>
          <i (click)="findById(item.id)" class="action-icon action-icon-delete fa-solid fa-trash" data-bs-toggle="modal" data-bs-target="#deleteModal"></i>
<!--          <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#editModal">-->
<!--            <i class="fa-solid fa-circle-info"></i>-->
<!--          </button>-->
<!--          <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#editModal">-->
<!--            <i class="fa-solid fa-user-pen"></i>-->
<!--          </button>-->
<!--          <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal"-->
<!--                  (click)="findById(item.id)">-->
<!--            <i class="fa-solid fa-trash"></i>-->
<!--          </button>-->
        </td>
      </tr>
      </tbody>
    </table>
  </div>

</div>
<!--page-->

<div>
  <ul class="pagination justify-content-center">
    <li class="page-item">
      <a class="page-link">
        <i class="fa-solid fa-backward-fast"
           (click)="findAllWithCondition(name_search,cmnd_search,address_search,department_search,0)"></i>
      </a>
    </li>
    <li>
      <a class="page-link" *ngIf="pageNumber != 0 ? 'disable': ''">
        <i class="fa-solid fa-backward"
           (click)="findAllWithCondition(name_search,cmnd_search,address_search,department_search,pageNumber - 1)"></i>
      </a>
    </li>
    <li class="page-item" *ngFor="let item of [].constructor(totalPages); let i = index">
      <a class="page-link" [ngClass]="pageNumber == i ? 'current': ''"
         (click)="findAllWithCondition(name_search,cmnd_search,address_search,department_search,i)">
        {{i + 1}}
      </a>
    </li>
    <li>
      <a class="page-link"  *ngIf="pageNumber < totalPages - 1 ? 'disable': ''">
        <i class="fa-solid fa-forward"
           (click)="findAllWithCondition(name_search,cmnd_search,address_search,department_search,pageNumber + 1)"></i>
      </a>
    </li>
    <li class="page-item">
      <a class="page-link"
         (click)="findAllWithCondition(name_search,cmnd_search,address_search,department_search,totalPages - 1)">
        <i class="fa-solid fa-forward-fast"></i> </a>
    </li>
    <li class="page-item">
      <span class="page-link">{{pageNumber + 1}} / {{totalPages}}</span>
    </li>
    <li class="page-item">
      <div class="input-group rounded">
        <input type="search" class="form-control rounded" placeholder="chọn trong {{totalPages}} trang" #element
               aria-label="Search" aria-describedby="search-addon"/>
        <span class="input-group-text border-0" id="search-addon">
           <i class="fas fa-search"
              (click)="findAllWithCondition(name_search,cmnd_search,address_search,department_search,+element.value - 1)"></i>
        </span>
      </div>
    </li>

  </ul>
</div>
<!-- Delete modal-->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="title">Xóa Khách Hàng</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Bạn muốn xóa khách hàng có tên <span id="name_delete" style="color: red"></span> ?
        <p style="color: red"><i class="fa-solid fa-circle-exclamation"></i> đây là hành động không thể hoàn tác</p>
        <input hidden id="id_delete" #id_delete>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" id="cancle" data-bs-dismiss="modal">Hủy</button>
        <button type="button" class="btn btn-danger" (click)="deleteById(id_delete.value)">Xóa</button>
      </div>
    </div>
  </div>
</div>

<!--alert message -->
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
    <path
      d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
  </symbol>
  <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
    <path
      d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
  </symbol>
  <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
    <path
      d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
  </symbol>
</svg>
<div class="alert alert-danger d-flex align-items-center" role="alert" *ngIf="alert">
  <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:">
    <use xlink:href="#exclamation-triangle-fill"/>
  </svg>
  <div>
    {{message}}
  </div>
</div>

<!--xóa all modal-->
<div class="modal fade" id="statusModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Bạn chắc chắn muốn xóa tất cả khách hàng ?
        <p style="color: red"><i class="fa-solid fa-circle-exclamation"></i> đây là hành động không thể hoàn tác</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
        <button type="button" class="btn btn-danger" (click)="deleteAll()">Xóa tất cả</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="cap_nhat">Đang được cập nhật chức năng</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Chức năng đang được cập nhật. Xin quay lại sau!!!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="addNewContract" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addNewContractLabel">Thêm Mới Khách hàng</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-6">
            <label>Giá Tiền Thuê Mỗi Tháng (VNĐ) (<span>*</span>)</label>
            <input type="text" class="form-control" required>

          </div>
          <div class="col-6">
            <label>Tổng Tiền</label>
            <input type="text" class="form-control" value="">
            <span style="color: red">&nbsp;</span>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <label>Giá Tiền Thuê Mỗi Tháng (VNĐ) (<span>*</span>)</label>
            <input type="text" class="form-control" required>


          </div>
          <div class="col-6">
            <label>Tổng Tiền</label>
            <input type="text" class="form-control" value="">
            <span style="color: red">&nbsp;</span>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <label>Giá Tiền Thuê Mỗi Tháng (VNĐ) (<span>*</span>)</label>
            <input type="text" class="form-control" required>

          </div>
          <div class="col-6">
            <label>Tổng Tiền</label>
            <input type="text" class="form-control" value="">
            <span style="color: red">&nbsp;</span>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <label>Giá Tiền Thuê Mỗi Tháng (VNĐ) (<span>*</span>)</label>
            <input type="text" class="form-control" required>


          </div>
          <div class="col-6">
            <label>Tổng Tiền</label>
            <input type="text" class="form-control" value="">
            <span style="color: red">&nbsp;</span>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <label>Giá Tiền Thuê Mỗi Tháng (VNĐ) (<span>*</span>)</label>
            <input type="text" class="form-control" required>
            <span style="color: red">&nbsp;</span>
          </div>
          <div class="col-6">
            <label>Tổng Tiền</label>
            <input type="text" class="form-control" value="">
            <span style="color: red">&nbsp;</span>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Hủy Bỏ</button>
        <button type="button" class="btn btn-primary">Làm Lại</button>
        <button type="button" class="btn btn-info text-white" data-bs-dismiss="modal">Lưu</button>
      </div>
    </div>
  </div>
</div>
