

<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="5000">
      <img src="assets/home-img/image_1.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <p style="font-weight: bold">A0222I1 RENTAL</p>
        <p style="font-size: 18px">Mang phong cách kiến trúc hiện đại, Tòa nhà phức hợp Diamond Time – 35 Thái
          Phiên – Đà Nẵng sở hữu
          nội thất gỗ tự nhiên được thiết kế tinh tế, trau chuốt tỉ mỉ đảm bảo mang đến sự hài lòng cho khách
          hàng.</p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="5000">
      <img src="assets/home-img/image_2.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <p>DIỆN TÍCH SỬ DỤNG LỚN</p>
        <p>Tòa nhà phức hợp DIAMOND TIME – 35 Thái Phiên với diện tích sử dụng lên đến gần 5.000m2 được đánh giá
          là một trong những tòa nhà phức hợp hiện đại tại Thành phố Đà Nẵng,</p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="5000">
      <img src="assets/home-img/image_3.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <p>HỨNG TRỌN ÁNH SÁNG THIÊN NHIÊN</p>
        <p>Tại DIAMOND TIME sở hữu khoảng không giếng trời mang lại sự cân bằng, hài hoà, tăng khả năng kết nối giữa
          thiên nhiên và con người. Mọi góc không gian đều trở nên tươi mát, thoáng đãng nhờ đón nguồn gió và ánh sáng
          tự nhiên.</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="container mt-5 mb-0 ">
  <div class="row justify-content-center pb-5 mb-3">
    <div class="col-md-7 heading-section text-center ftco-animate">
      <h2>CẬP NHẬT NHỮNG THÔNG TIN MỚI NHẤT</h2>
      <span class="subheading">TIN TỨC – SỰ KIỆN</span>
    </div>
  </div>
</div>

<div class="container">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card">
        <img src="assets/home-img/room-1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Sự kiện “Frohes Fest” tại Tiktak Coworking Space</h5>
          <p class="card-text">Kính gửi Quý khách hàng, Nhằm tri ân và hòa mình cùng không khí lễ</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="assets/home-img/room-2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Mừng Giáng sinh, tưng bừng ưu đãi lớn</h5>
          <p class="card-text"> Mua 4 chỗ ngồi linh hoạt chỉ tính tiền 3 CNLH, cùng hàng loạt</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="assets/home-img/room-3.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Ưu đãi 50% căn hộ chuẩn hạng A – Diamond Time Complex</h5>
          <p class="card-text">✈ BẠN SẮP TỚI ĐÀ NẴNG ✈ ? Ưu đãi lên đến 50% căn hộ</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="assets/home-img/room-4.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Không khí ngày đầu tuần tại Tiktak Coworking Space – Đà Nẵng có
            gì???</h5>
          <p class="card-text">Hầu hết chúng ta dành gần một phần ba cuộc đời mình ở nơi làm</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="assets/home-img/room-5.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Diamond Time đón nhận “mùa Đông Hà Nội” bằng cả một sự chân tình</h5>
          <p class="card-text">Khi thời tiết còn đang “dùng dằng”, Thu “lưu luyến” chưa đi mà Đông .</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="assets/home-img/room-6.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Căn hộ dịch vụ tiêu chuẩn 5 sao ngay tại Trung tâm thành phố Đà Nẵng</h5>
          <p class="card-text">Toạ lạc tại 35 Thái Phiên, Diamond Time hứa hẹn sẽ mang đến sự tiện</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5 place">
  <div class="row">
    <div class="col-8">
      <p class="heading_text">Mang không gian chuyên nghiệp & thoải mái nhất tới khách hàng.
      </p>
      <p> Mang phong cách kiến trúc hiện đại, Tòa nhà phức hợp Diamond Time – 35 Thái Phiên – Đà Nẵng sở hữu nội
        thất
        gỗ tự nhiên được thiết kế tinh tế, trau chuốt tỉ mỉ đảm bảo mang đến sự hài lòng cho khách hàng.</p>

    </div>
    <div class="col-4">
      <div class="row">
        <div class="area">
          Tổng diện tích sử dụng : 4.506m2
        </div>
        <ul class="list-flor">
          <li>Tầng 1: Trung tâm thương mại, giải trí, nhà hàng và coffee shop</li>
          <li>Tầng 2: Căn hộ dịch vụ</li>
          <li>Tầng 3: Tiktak Co-woking Space</li>
        </ul>
      </div>
    </div>
  </div>
</div>


<div class="container place mt-5">
  <div class="row">
    <div class="col-6 fix-img">
      <div class="img-2" style="background-image: url(assets/home-img/tang_1.jpg)">

      </div>
    </div>
    <div class="col-6">
      <div class="section">
        <div class="pl-md-5">
          <h1 class="mb-2">Vị thế Trung tâm <br> Nâng tầm thương hiệu</h1>
        </div>
      </div>
      <div class="pl-md-5">
        <p>Tọa lạc tại 280 Trần Hưng Đạo, quận Sơn Trà – trung tâm thành phố, nơi có sự phát triển sầm uất
          bậc
          nhất Đà Nẵng, A0222I1 Rental sở hữu vị trí “vàng” với hai mặt tiền, thuận tiện cho việc giao
          thương và di chuyển.</p>
        <div class="row">
          <div class=" col-lg-6 d-flex w-100">
            <div class="icon d-flex justify-content-center align-items-center">
              <span class="flaticon-first"></span>
            </div>
            <div class="media-body pl-3">
              <h3 class="heading">Vị trí thuận tiện</h3>
              <p>Chỉ 5 phút đi bộ, khách hàng dễ dàng tiếp cận trung tâm hành chính quan trọng, công
                trình tiện
                ích và điểm tham quan du lịch cùng các dịch vụ tiện ích, giải trí…</p>
            </div>
          </div>
          <div class=" col-lg-6 d-flex w-100">
            <div class="icon d-flex justify-content-center align-items-center">
              <span class="flaticon-first"></span>
            </div>
            <div class="media-body pl-3">
              <h3 class="heading">Kết nối doanh nghiệp</h3>
              <p>Tạo môi trường kết nối các doanh nghiệp trong khu vực </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<section class="ftco-intro mt-5" style="background-image: url(assets/home-img/services-1.jpg);"
         data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">

    <div class="row justify-content-center">
      <div class="col-md-9 text-center">
        <p class="contact">QUÝ KHÁCH MUỐN THAM QUAN TRẢI NGHIỆM
          TẠI DIAMOND TIME</p>
        <p class="mb-4">HÃY GỌI NGAY CHO CHÚNG TÔI</p>
        <p class="mb-0"><a href="#" class="btn btn-violet px-4 py-3">Gọi ngay</a>
      </div>
    </div>
  </div>
</section>
