<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addNewContract">
  Thêm Mới Hợp Đồng
</button>




<!-- Modal -->
<div class="modal fade" id="addNewContract" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="  modal-dialog modal-xl">
    <form [formGroup]="formGroup" (ngSubmit)="saveAllForm()">
      <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addNewContractLabel">Thêm Mới Hợp Đồng</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-3">
            <label>Tên Nhân Viên</label>
            <input type="text" formControlName="employeeId" class="form-control " value="Trà Tấn Thuận" disabled>
          </div>
          <div class="col-4">
            <label>Số Chứng Minh Nhân Dân Khách Hàng (<span>*</span>)</label>
            <input type="text" formControlName="customerId" class="form-control" value="" required>
            <span style="color: red"> </span>
          </div>
          <div class="col-3">
            <label>Tên Khách Hàng</label>
            <input type="text"  class="form-control name" value="" disabled>
            <span style="color: red">&nbsp; </span>
          </div>
          <div class="col-2">
            <label>Mặt Bằng (<span>*</span>)</label>
            <select class="form-control" formControlName="termId">
              <option>MB001</option>
              <option>MB002</option>
              <option>MB003</option>
              <option>MB004</option>
              <option>MB005</option>
            </select>
            <span style="color: red"></span>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <label>Kỳ Hạn (Tháng) (<span>*</span>)</label>
            <select class="form-control" formControlName="termId">
              <option>3 Tháng</option>
              <option>6 Tháng</option>
              <option>12 Tháng</option>
              <option>18 Tháng</option>
              <option>24 Tháng</option>
              <option>36 Tháng</option>
            </select>
            <span style="color: red">&nbsp;</span>
          </div>
          <div class="col-4" >
            <label>Ngày Bắt Đầu Thuê (<span>*</span>)</label>
            <input type="date" formControlName="startDate" class="form-control" required>
            <span style="color: red"></span>
          </div>
          <div class="col-4">
            <label>Ngày Kết Thúc Thuê</label>
            <input type="date" class="form-control" disabled>
            <span style="color: red"> </span>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <label>Giá Tiền Thuê Mỗi Tháng (VNĐ) (<span>*</span>)</label>
            <input type="text" formControlName="price" class="form-control" (keyup)="forMatNumber($event.target.value)" required>
          </div>
          <div class="col-6">
            <label>Tổng Tiền</label>
            <input type="text" class="form-control" value="" disabled>
            <span style="color: red">&nbsp;</span>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <label>Nội Dung Hợp Đồng (<span>*</span>)</label>
            <textarea style="height: 150px" class="form-control" formControlName="information" required></textarea>
            <span style="color: red"></span>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Hủy Bỏ</button>
        <button type="button" class="btn btn-primary">Làm Lại</button>
        <button type="button" class="btn btn-info text-white" data-bs-dismiss="modal">Lưu</button>
      </div>
    </div>
    </form>
  </div>
</div>
