
<h4 class="list-ground-title">DANH SÁCH HỢP ĐỒNG</h4>
  <div class="list-input-search">
    <input  id="nameCustomer" type="text" #nameCustomer (change)="customerNameSearch = nameCustomer.value" placeholder="Tên Khách Hàng">
    <input  id="nameEmployee" type="text" #nameEmployee (change)="employeeNameSearch = nameEmployee.value" placeholder="Tên Nhân Viên">
    <input  id="planeId" type="text" #planeId (change)="planeIdSearch =  planeId.value" placeholder="Mã Mặt Bằng">
    <input style="width: 80px" id="startDate"  #startDay (change)="dateStartSearch = startDay.value" type="text"
            onfocus="(this.type='date')" placeholder="Ngày Bắt Đầu">
    <div class="list-input-search-icon">
      <i class="fa fa-search list-input-search-icon-search" style=" background-color: blue" aria-hidden="true" (click)="findAllByCondition(customerNameSearch,employeeNameSearch,planeIdSearch,dateStartSearch,0)"></i>
      <i class="fa fa-undo list-input-search-icon-undo" style=" background-color: gray;" (click)="refreshPage()" aria-hidden="true"></i>
      <i class="icon-add-new fa-solid fa-plus" (click)="add()" data-bs-toggle="modal" data-bs-target="#contractFunction"></i>
    </div>
</div>
<table class="table tab">
  <thead class="thead-dark">
  <tr>
    <th scope="col">Mã Hợp Đồng</th>
    <th scope="col">Tên Khách Hàng</th>
    <th scope="col">Tên Nhân Viên</th>
    <th scope="col">Tên Mặt Bằng</th>
    <th scope="col">Tình Trạng Mặt Bằng</th>
    <th scope="col">Ngày Bắt Đầu</th>
    <th scope="col">Thao Tác</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let contract of contracts ; index as i">
    <td scope="row">HĐ-{{contract.id}}</td>
    <td scope="row">{{contract.customerName}}</td>
    <td scope="row">{{contract.employeeName}}</td>
    <td scope="row">MB-{{contract.planeId}}</td>
    <td scope="row">{{contract.planeStatus}}</td>
    <td scope="row">{{contract.startDate  | date: 'dd/MM/yyyy'}}</td>

    <td scope="row">
      <i id="detail" class="action-icon action-icon-info  fa-solid fa-circle-info" data-bs-toggle="modal"
         data-bs-target="#contractFunction"
         (click)="detail(contract.id,contract.idCardCustomer, contract.accountName)"></i>

      <i hidden class="action-icon action-icon-edit fa-solid fa-pen-to-square" data-bs-toggle="modal"
         data-bs-target="#contractFunction" id="edit"></i>

      <i class="action-icon action-icon-edit fa-solid fa-pen-to-square" data-bs-toggle="modal"
         (click)="editContract(contract.id,contract.idCardCustomer,contract.accountName,contract.maxRole)"></i>

      <i hidden id="close" class="action-icon action-icon-delete fa-solid fa-trash"
         data-bs-toggle="modal" data-bs-target="#deleteModal"></i>

      <i (click)="changeId(contract.id,contract.id,contract.accountName)"
         class="action-icon action-icon-delete fa-solid fa-trash"
         data-bs-toggle="modal"></i>
    </td>
  </tr>
  </tbody>

</table>

<!-- Delete modal-->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="title">Xóa Hợp Đồng</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Bạn có muốn xóa hợp đông <span style="font-weight: bold">HD-{{name}}</span>?
        <p style="color: red"><i class="fa-solid fa-circle-exclamation"></i>Đây là hành động không thể hoàn tác</p>
        <input hidden id="id_delete" #id_delete>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
        <button type="button" class="btn btn-danger" (click)="delete(id)" data-bs-dismiss="modal">Xóa</button>
      </div>
    </div>
  </div>
</div>

<!-- Button trigger modal -->
<button id="notificationModalButton" hidden type="button" class="btn btn-primary" data-bs-toggle="modal"
        data-bs-target="#notificationModal">
  notification
</button>


<!-- Notification Modal-->
<div class="modal fade" id="notificationModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="notification">Xin Thông Báo</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Tài khoản hiện tại là của {{employeeAccount?.name}} không có quyền thay đổi thông tin.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>

      </div>
    </div>
  </div>
</div>
<!--page-->
<div *ngIf="(totalElements> 0); else isEmpty">
  <ul class="pagination justify-content-center">
    <li class="page-item">
      <a class="page-link" *ngIf="indexPagination != 0 ? 'disable': ''">
        <i class="fa-solid fa-backward-fast"
           (click)="findAllByCondition(customerNameSearch,employeeNameSearch,planeIdSearch,dateStartSearch,0)"></i>
      </a>
    </li>
    <li>
      <a class="page-link" *ngIf="indexPagination != 0 ? 'disable': ''">
        <i class="fa-solid fa-backward"
           (click)="findAllByCondition(customerNameSearch,employeeNameSearch,planeIdSearch,dateStartSearch,indexPagination - 1)"></i>
      </a>
    </li>
    <li class="page-item" *ngFor="let item of [].constructor(totalPages); let i = index">

      <ng-container *ngIf="i < 3 || i >= totalPages - 3">
        <a class="page-link" [ngClass]="indexPagination == i ? 'current': ''"
           (click)="findAllByCondition(customerNameSearch,employeeNameSearch,planeIdSearch,dateStartSearch,i)">
          {{i + 1}}
        </a>
      </ng-container>
      <ng-container *ngIf="3 <= i && i < totalPages - 3 &&(i == indexPagination + 1 || i== indexPagination-1 || i ==indexPagination)">
        <a class="page-link" [ngClass]="indexPagination == i ? 'current': ''"
           (click)="findAllByCondition(customerNameSearch,employeeNameSearch,planeIdSearch,dateStartSearch,i)">
          {{i + 1}}
        </a>
      </ng-container>
      <ng-container *ngIf="(3 < i && i < totalPages - 3 && i != indexPagination && i != indexPagination + 1 && i!=indexPagination-1)">
        <a class="page-link">
          ...
        </a>
      </ng-container>
    </li>
    <li>
      <a class="page-link"  *ngIf="indexPagination < totalPages - 1 ? 'disable': ''">
        <i class="fa-solid fa-forward"
           (click)="findAllByCondition(customerNameSearch,employeeNameSearch,planeIdSearch,dateStartSearch,indexPagination + 1)"></i>
      </a>
    </li>
    <li class="page-item">
      <a class="page-link" *ngIf="indexPagination < totalPages - 1 ? 'disable': ''"
         (click)="findAllByCondition(customerNameSearch,employeeNameSearch,planeIdSearch,dateStartSearch,totalPages - 1)">
        <i class="fa-solid fa-forward-fast"></i> </a>
    </li>
    <li class="page-item">
      <span class="page-link">{{indexPagination + 1}} / {{totalPages}}</span>
    </li>
    <li class="page-item">
      <div class="input-group rounded">
        <input type="search" class="form-control rounded" placeholder="chọn trong {{totalPages}} trang" #element
               aria-label="Search" aria-describedby="search-addon"/>
        <span class="input-group-text border-0" id="search-addon">
           <i class="fas fa-search"
              (click)="findAllByCondition(customerNameSearch,employeeNameSearch,planeIdSearch,dateStartSearch,+element.value - 1)"></i>
        </span>
      </div>
    </li>
  </ul>
</div>



<ng-template #isEmpty class="clearfix">
  <div style="font-size: 18px; margin-left: 73px" class="hint-text">Không tìm thấy hợp đồng phù hợp với từ khóa <b>"{{customerNameSearch}}&nbsp;{{employeeNameSearch}}&nbsp;{{planeIdSearch}}&nbsp;{{dateStartSearch| date: 'dd/MM/yyyy'}}" </b></div>
</ng-template>

<!-- Button trigger modal -->
<button id="openDetailModal" hidden type="button" class="btn btn-primary" data-bs-toggle="modal"
        data-bs-target="#contractFunction">
  notification
</button>


<!-- function modal-->
<div class="modal fade" id="contractFunction">
  <div class="modal-dialog modal-xl">
    <form [formGroup]="formGroup" (ngSubmit)="saveAllForm()">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{title}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h5>Thông Tin Khách Hàng</h5>
          <div class="row">
            <div class="col-4">
              <label>Chứng Minh Nhân Dân (<span>*</span>)</label>
              <input type="text" (change)="checkIdentifyNumber()" formControlName="customerId" class="form-control"
                     value="{{name}}" required [attr.disabled]="disabled  == true ? '' : null">
              <span style="color: red"
                    *ngIf="(formGroup.controls.customerId.hasError('required') && ( formGroup.controls.customerId.touched ||  flagDisplayValidate)) ">
                            Nhập chứng minh nhân dân khách hàng
            </span>
              <span style="color: red"
                    *ngIf="(formGroup.controls.customerId.hasError('pattern') && formGroup.controls.customerId.touched)">
                <div>Chứng minh nhân không đúng định dạng </div>

            </span>

            </div>
            <div class="col-4">
              <label>Tên Khách Hàng</label>
              <input type="text" class="form-control" value="{{customerView?.name}}" disabled required>
              <span>
              &nbsp;
            </span>
            </div>

            <div class="col-4">
              <label>Địa Chỉ</label>
              <input type="text" class="form-control" value="{{customerView?.address}}" disabled required>
            </div>
          </div>
          <div class="row">
            <div class="col-4">
              <label>Ngày Sinh</label>
              <input type="date" class="form-control" value="{{customerView?.birthday}}" disabled required>
              <span>
              &nbsp;
            </span>
            </div>
            <div class="col-4">
              <label>Email</label>
              <input type="text" class="form-control" value="{{customerView?.email}}" disabled required>
            </div>
            <div class="col-4">
              <label>Số Điện Thoại</label>
              <input type="text" class="form-control" value="{{customerView?.phone}}" disabled required>
            </div>
          </div>
          <hr style="margin-top: 10px">
          <h5>Thông Tin Hợp Đồng</h5>
          <div class="row">
            <div class="col-4">
              <label>Mã Mặt Bằng (<span>*</span>)</label>
              <select class="form-control" formControlName="planeId" [attr.disabled]="disabled  == true ? '' : null">
                <option value="">Chọn mã mặt bằng</option>
                <option *ngFor="let p of planeList" [ngValue]="p.id">MB-{{p.id}}</option>
              </select>
              <span style="color: red"
                    *ngIf="(formGroup.controls.planeId.hasError('required') && ( formGroup.controls.planeId.touched || flagDisplayValidate))">
              Chọn mã mặt bằng
            </span>
              <span>
              &nbsp;
            </span>
            </div>
            <div class="col-4">
              <label>Kỳ Hạn (<span>*</span>)</label>
              <select (change)="calculateEndDate()" class="form-control" formControlName="termId"
                      [attr.disabled]="disabled  == true ? '' : null">
                <option value="">Chọn kỳ hạn</option>
                <option *ngFor="let t of termList" [ngValue]="t.id">{{t.name}}</option>
              </select>
              <span style="color: red"
                    *ngIf="(formGroup.controls.termId.hasError('required') && (formGroup.controls.termId.touched || flagDisplayValidate))">
              Chọn kỳ hạn
            </span>

            </div>
            <div class="col-4">
              <label>Ngày Bắt Đầu Thuê (<span>*</span>)</label>
              <input type="date" (change)="calculateEndDate()" formControlName="startDate" class="form-control"
                     required [attr.disabled]="disabled || checkStartDate ? '' : null"
              >
              <span style="color: red"
                    *ngIf="(formGroup.controls.startDate.hasError('required') && ( formGroup.controls.startDate.touched || flagDisplayValidate))">
              Chọn ngày bắt đầu thuê
            </span>

              <span style="color: red"
                    *ngIf="(formGroup.controls.startDate.hasError('pastday') && formGroup.controls.startDate.touched)">
              Ngày bắt đầu thuê phải ở tương lai
            </span>

            </div>
          </div>
          <div class="row">
            <div class="col-4">
              <label>Ngày Kết Thúc</label>
              <input type="date" formControlName="endDate" class="form-control" disabled>
              <span style="color: red"> &nbsp;</span>

            </div>
            <div class="col-4">
              <label>Giá Tiền Mỗi Tháng (VNĐ) (<span>*</span>)</label>
              <input type="text" (keyup)="calculateTotalPrice()" formControlName="price" class="form-control"
                     (keyup)="forMatNumber($event.target.value)" required
                     [attr.disabled]="disabled  == true ? '' : null">
              <span style="color: red"
                    *ngIf="(formGroup.controls.price.hasError('required') && (formGroup.controls.price.touched || flagDisplayValidate))">
              Nhập giá tiền thuê
            </span>

            </div>
            <div class="col-4">
              <label>Tổng Tiền (VNĐ)</label>
              <input type="text" formControlName="total" class="form-control" value="" disabled>
              <span style="color: red">&nbsp;</span>


            </div>
            <div class = "col-12">
              <label>Nội Dung Hợp Đồng (<span>*</span>)</label>
              <div class="row">
                <div class="col-12">
                <textarea  class="form-control" formControlName="information" required
                          [attr.disabled]="disabled  == true ? '' : null"></textarea>
                  <span style="color: red"
                        *ngIf="(formGroup.controls.information.hasError('required') && (formGroup.controls.information.touched || flagDisplayValidate))">
              Nhập giá nội dung hợp đồng
            </span>
                  <span style="color: red"> &nbsp;</span>

                </div>
              </div>
            </div>





          </div>
          <hr style="margin-top: 10px">

          <h5>Thông Tin Nhân Viên</h5>
          <div class="row">
            <div class="col-4">
              <label>Nhân Viên</label>

              <input value="{{displayEmployee?.name}}" type="text" class="form-control" disabled required>
            </div>
            <div class="col-4">
              <label>SĐT Nhân Viên</label>
              <input value="{{displayEmployee?.phone}}" type="text" class="form-control" disabled required>
            </div>
            <div class="col-4">
              <label>Email Nhân Viên</label>
              <input value="{{displayEmployee?.email}}" type="text" class="form-control" disabled required>
            </div>
          </div>




        </div>
        <div class="modal-footer" [hidden]="flagHidden">
          <button type="button" class="btn btn-danger" id="endModal" data-bs-dismiss="modal">Hủy Bỏ</button>
          <button type="button" class="btn btn-primary" (click)="refresh()">Làm Lại</button>
          <button type="submit" class="btn btn-info text-white">Lưu</button>
        </div>

      </div>
    </form>
  </div>
</div>




