<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Thêm mới hợp đồng
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" style="width: 800px">
        <div class="row">
          <div class="col-3">
            <label>Mặt bằng</label>
            <select class="form-control">
              <option>MB001</option>
              <option>MB002</option>
              <option>MB003</option>
              <option>MB004</option>
              <option>MB005</option>
            </select>
            <span style="color: red">Chọn Mã Mặt Bằng</span>
          </div>
          <div class="col-3">
            <label>Tên khách hàng</label>
            <input type="text" class="form-control" value="Thomas Hardy" required>
            <span style="color: red">Nhập tên</span>
          </div>
          <div class="col-3">
            <label>Số CMND</label>
            <input type="text" class="form-control" value="SVMD000124781" required>
            <span style="color: red">Nhập CMND </span>
          </div>
          <div class="col-3">
            <label>Nhân Viên</label>
            <input type="text" class="form-control" value="Trà Tấn Thuận" required>

          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <label>Kỳ hạn (Tháng)</label>
            <select class="form-control">
              <option>3 Tháng</option>
              <option>6 Tháng</option>
              <option>12 Tháng</option>
              <option>18 Tháng</option>
              <option>24 Tháng</option>
              <option>36 Tháng</option>
            </select>
            <span style="color: red">Chọn Kỳ Hạng </span>
          </div>
          <div class="col-4">
            <label>Ngày bắt đầu thuê</label>
            <input type="date" class="form-control" required>
            <span style="color: red">Chọn Bắt Đầu</span>
          </div>
          <div class="col-4">
            <label>Ngày kết thúc thuê</label>
            <input type="date" class="form-control" required>
            <span style="color: red">Chọn Ngày Kết Thúc </span>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <label>Gía tiền thuê mỗi tháng (VNĐ)</label>
            <input type="text" class="form-control" value="5.000.000 đ" required>
            <span style="color: red">Nhập tiền thuê mỗi tháng </span>
          </div>
          <div class="col-6">
            <label>Tổng tiền</label>
            <input type="text" class="form-control" value="100.000.000 đ" required>
            <span style="color: red"></span>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <label>Nội dung hợp đồng</label>
            <textarea class="form-control" required></textarea>
            <span style="color: red">Nhập nội dung</span>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<!--<div id="addModal" class="modal fade">-->
<!--  <div class="modal-dialog modal-lg">-->
<!--    <div class="modal-content">-->
<!--      <form>-->
<!--        <div class="modal-header">-->
<!--          <h4 class="modal-title">Thêm Mới Hợp Đồng</h4>-->
<!--          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>-->
<!--        </div>-->
<!--        <div class="modal-body">-->
<!--          <div class="row">-->
<!--            <div class="col-3">-->
<!--              <label>Mặt bằng</label>-->
<!--              <select class="form-control">-->
<!--                <option>MB001</option>-->
<!--                <option>MB002</option>-->
<!--                <option>MB003</option>-->
<!--                <option>MB004</option>-->
<!--                <option>MB005</option>-->
<!--              </select>-->
<!--              <span style="color: red">Chọn Mã Mặt Bằng</span>-->
<!--            </div>-->
<!--            <div class="col-3">-->
<!--              <label>Tên khách hàng</label>-->
<!--              <input type="text" class="form-control" value="Thomas Hardy" required>-->
<!--              <span style="color: red">Nhập tên</span>-->
<!--            </div>-->
<!--            <div class="col-3">-->
<!--              <label>Số CMND</label>-->
<!--              <input type="text" class="form-control" value="SVMD000124781" required>-->
<!--              <span style="color: red">Nhập CMND </span>-->
<!--            </div>-->
<!--            <div class="col-3">-->
<!--              <label>Nhân Viên</label>-->
<!--              <input type="text" class="form-control" value="Trà Tấn Thuận" required>-->

<!--            </div>-->
<!--          </div>-->
<!--          <div class="row">-->
<!--            <div class="col-4">-->
<!--              <label>Kỳ hạn (Tháng)</label>-->
<!--              <select class="form-control">-->
<!--                <option>3 Tháng</option>-->
<!--                <option>6 Tháng</option>-->
<!--                <option>12 Tháng</option>-->
<!--                <option>18 Tháng</option>-->
<!--                <option>24 Tháng</option>-->
<!--                <option>36 Tháng</option>-->
<!--              </select>-->
<!--              <span style="color: red">Chọn Kỳ Hạng </span>-->
<!--            </div>-->
<!--            <div class="col-4">-->
<!--              <label>Ngày bắt đầu thuê</label>-->
<!--              <input type="date" class="form-control" required>-->
<!--              <span style="color: red">Chọn Bắt Đầu</span>-->
<!--            </div>-->
<!--            <div class="col-4">-->
<!--              <label>Ngày kết thúc thuê</label>-->
<!--              <input type="date" class="form-control" required>-->
<!--              <span style="color: red">Chọn Ngày Kết Thúc </span>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="row">-->
<!--            <div class="col-6">-->
<!--              <label>Gía tiền thuê mỗi tháng (VNĐ)</label>-->
<!--              <input type="text" class="form-control" value="5.000.000 đ" required>-->
<!--              <span style="color: red">Nhập tiền thuê mỗi tháng </span>-->
<!--            </div>-->
<!--            <div class="col-6">-->
<!--              <label>Tổng tiền</label>-->
<!--              <input type="text" class="form-control" value="100.000.000 đ" required>-->
<!--              <span style="color: red"></span>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="row">-->
<!--            <div class="col-12">-->
<!--              <label>Nội dung hợp đồng</label>-->
<!--              <textarea class="form-control" required></textarea>-->
<!--              <span style="color: red">Nhập nội dung</span>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="modal-footer">-->
<!--          <input type="button" class="btn btn-default" data-dismiss="modal" value="Hủy">-->
<!--          <input type="submit" class="btn btn-info" value="Thêm Mới">-->
<!--        </div>-->
<!--      </form>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!---->
