<div xmlns="http://www.w3.org/1999/html">
  <div class="header">
    <h4 class="list-ground-title">THỐNG KÊ SỐ LIỆU TỔNG HỢP</h4>

    <form class="row g-3" [formGroup]="formGroup">

      <div class="col-md-4">
        <label class="form-label"></label>
        <input placeholder="Ngày bắt đầu" class="form-control" type="text" onfocus="(this.type='date')"
               onblur="(this.type='text')" formControlName="startDate" id="startDate" #startDay
               (change)="startDateString = startDay.value" required/>
      </div>

      <div class="col-md-4">
        <label class="form-label"></label>
        <input placeholder="Ngày kết thúc" type="text" onfocus="(this.type='date')"
               onblur="(this.type='text')" class="form-control" formControlName="finalDate" id="finalDate" #finalDate
               (change)="finishDateString = finalDate.value" required/>
        <span style="color: red"
              *ngIf="formGroup.controls.finalDate.hasError('required') && formGroup.controls.finalDate.touched">Bạn phải chọn ngày kết thúc</span>
        <span style="color: red"
              *ngIf="formGroup.controls.finalDate.hasError('invalidDate') &&  formGroup.controls.finalDate.touched">Ngày kết thúc phải lớn hơn ngày bắt đầu </span>
      </div>
      <div class="col-md-3">
      </div>
      <div class="btn-group col-md-1">
        <div class="list-inputsearch-icon">
          <i style="background-color: blue" class="fa fa-search list-inputsearch-icon-search" aria-hidden="true"
             (click)="findAllWithCondition(startDateString,finishDateString)"></i>
        </div>
      </div>
    </form>
  </div>

  <div *ngIf="static.length > 0">
    <table class="table tab">
      <thead class="thead-dark">
      <tr>
        <th scope="col">STT</th>
        <th scope="col">Tên mặt Bằng</th>
        <th scope="col">Ngày bắt đầu</th>
        <th scope="col">Tổng thu (VNĐ)</th>
        <th scope="col">Ghi chú</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let i of static; let z =index">
        <td scope="row">{{z + 1}}</td>
        <td scope="row">MB_{{i.plane?.id}}</td>
        <td scope="row">{{i.startDate| date: 'dd/MM/yyyy'}}</td>
        <td scope="row">{{i.total |number:'4.0'}}</td>
        <td scope="row">{{i.information}}</td>

      </tr>
      </tbody>
      <p>Tổng: {{total() > 0 ? (total()  |number:'4.0') : 0}} VNĐ </p>
    </table>

    <div class="list-inputsearch-icon">
      <i class="fa fa-print list-inputsearch-icon-search" data-bs-toggle="modal" data-bs-target="#exampleModal">
      </i>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">In dữ liệu</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Bạn có muốn in dữ liệu không
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary"
                    data-bs-dismiss="modal">Không
            </button>
            <button (click)="dowloadFile(startDateString,finishDateString)" type="button" class="btn btn-primary">In
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="chart-container">
    <canvas id="ChartRent">{{chart}}</canvas>
  </div>
</div>
